@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*Подключаем шрифты------------------------------*/
/*-----------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  width: /*2011px*/ 100%; }

.navbar {
  width: 100%;
  height: 84px;
  background: #007765;
  position: fixed;
  z-index:1; }

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }

.navbar-menu li {
  display: inline-block; }

.navbar-menu li a {
  display: inline-block;
  color: #fff;
  font-size: 24px; }

.navbar-menu li a:hover {
  color:#c0c0c0;
}

.last {
  margin-right: 300px; }

.logo {
  margin-left: 300px; }

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;}

.PiperNet {
  background: url("../site/img/background/PiperNetisHere.png") 0 0 no-repeat;
  height: 403px;
  /*display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
  background-size: cover; } 

.PiperNet-text {
  font-size: 72px;
  color: white;
  margin: auto; }
/*----------------*/
.TheProblem {
  background: #EEEEEE;
  display: flex;
  flex-direction: column;

  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  /*-webkit-box-direction: normal;
  -ms-flex-direction: column;*/}

.TheProblem-title {
  margin: auto;
  color: #007765;
  font-size: 64px;
  padding: 48px 0 16px 0; }

.TheProblem-text {
  margin: auto;
  font-size: 32px;
  padding-bottom: 92px; }

.weAreIn {
  background: url("../site/img/background/blue_background.png") 0 0 no-repeat;
  height: 483px;
  background-size: cover; }

.weAreIn-text {
  color: white;
  padding-top: 128px;
  text-align: center;
  font-size: 48px;
  font-style: italic; }

  .introducingPied {
    min-height: 700px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column; }
  
  .introducingPied-block1{
    margin: auto;
    position: relative;
  }

  .introducingPied-block2{
    margin: auto;
    position: relative;
    padding-top: 150px;
  }

  .introducingPied-title {
    margin: auto;
    color: #007765;
    font-size: 64px;
    padding: 48px 0 16px 0;
    font-weight: 500;
    text-align: center; }
  
  .introducingPied-logo {
    float: left;
    position: absolute; }
  
  .introducingPied-text-italic {
    position: absolute;
    left: 15%;
    font-size: 32px;
    line-height: 37.5px;
    font-weight: 400;
    padding-bottom: 40px; }
  
  .introducingPied-text {
    font-size: 32px;
    line-height: 37.5px;
    padding-bottom: 92px;
    font-weight: 400; }
  
.team {
  background: #EEEEEE; }

.team-title {
  color: #007765;
  font-size: 64px;
  text-align: center; }

.members {
  padding: 56px 541px 112px 542px;
  display: flex;
  flex-wrap: wrap; }

.member {
  text-align: center;
  flex-basis: 33%;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;}

.member-name {
  font-weight: bold;
  font-size: 24px;
  color: #007765; }

.member-major {
  font-size: 18px;
  font-style: italic;
  line-height: 21px; }

.team-title {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px; }

.footer {
  background-color: #333333; }

.footer-text {
  padding: 50px 0 60px 0;
  color: white;
  font-size: 18px;
  line-height: 21,09px;
  text-align: center;
  font-weight: 400; }
